
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer components {
    .link-underline {
        border-bottom-width: 0;
        background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
        background-size: 0 1px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size .2s ease-in-out;
    }
    
    .link-underline-black {
        background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff)
    }
    
    .link-underline:hover {
        background-size: 100% 1px;
        background-position: 0 100% ;
    }
    
    /* styles.css */
    .project-row {
    display: flex;
    align-items: center; /* Vertically center the content */
    /* margin-bottom: 3rem; Add some spacing between projects */
    }
  
    .project-content {
    display: flex;
    flex-direction: row; /* Arrange content horizontally */
    align-items: center; /* Vertically center the content */
    }

  
    .project-right {
    flex: 2; /* Make the text take up 2/3 of the available space */
    padding-left: 3rem; /* Add some spacing between image and text */
    text-align: left;
    }

    .container {
      max-width: 1200px;
      padding: 1.5rem 1.5rem;
      margin: auto;
      overflow: hidden;
      transition: all 0.3s ease;
    }

    @media screen and (max-width: 768px) {
      .project-row {
        flex-direction: column; /* Stack projects vertically */
        align-items: flex-start; /* Align projects to the left */
        /* margin-bottom: 2rem; Adjust spacing between projects */
      }

      .project-right {
        flex: 1;
        padding-left: 0;
        text-align: left;
      }


    }
  
  /* Add your AOS animation styles here */
  
  [data-aos="fade-up"] {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  [data-aos="fade-up"].aos-animate {
    opacity: 1;
  }


  
}
